

<!-- <?xml version="1.0" encoding="utf-8"?> -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.su_ange.app"
android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
<application android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
    <meta-data android:name="com.samsung.android.vr.application.mode" android:value="vr_only"/>
    <activity android:name=".MainActivity"
        android:screenOrientation="landscape"
        android:launchMode="singleTask"
        android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard|navigation">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
</application>
<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="21" />
<uses-feature android:glEsVersion="0x00030001" />
</manifest>